<div class="card-columns animated fadeIn">
  <div (click)="verArtista(cancion)" class="card puntero"  *ngFor="let cancion of items">
    <img class="card-img-top" [src]="cancion.images| noimage" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ cancion.name }}</h5>

        <p>
            <span *ngFor="let artista of cancion.artists"
                  class="badge badge-secondary badge-pill">
                  {{ artista.name }}
            </span>
        </p>

    </div>
  </div>
</div>
