<div class="row">
  <div class="col">
    <input #termino class="form-control" type="text" (keyup)="buscar(termino.value)" placeholder="Buscar...">
  </div>
</div>

<hr>

<br><br>
<app-loading *ngIf="loading" class=""></app-loading>
<app-tarjetas *ngIf="!loading" [items]="artistas"></app-tarjetas>

