<app-loading *ngIf="loading"></app-loading>
<div class="row" *ngIf="!loading">
  <div class="col-2">
    <img [src]="artista.images | noimage" alt="" class="img-thumbnail">
  </div>
  <div class="col">
    <h2> {{ artista.name }} </h2>
    <hr>
    <h4>Generos</h4>
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark" *ngFor="let genero of artista.genres">{{ genero }}</li>

    </ul>

  </div>
  <div class="col-4 text-right">

    <button type="button" routerLink="/search" class="btn btn-large btn-block btn-danger">Regresar</button>

  </div>

  <div class="row m-5">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Album</th>
            <th>Canción</th>
            <th>Vista Previa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of top">
            <td><img [src]="item.album.images[0].url" alt="" class="img-thumbnail"></td>
            <td>{{ item.album.name }}</td>
            <td>{{ item.name }}</td>
            <td>
              <audio src="{{ item.preview_url }}" controls></audio>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
